.hero-section {
  min-height: 100vh;
  padding: 100px 8% 0;
  display: flex;
  align-items: center;
  background-color: teal;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-content {
  max-width: 50%;
}

.text-content h1 {
  font-size: 55px;
  font-weight: 600;
  line-height: 1.1;
}

.text-content p:nth-child(2) {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0 20px;
  color: #ffffff;
}

.highlight {
  font-weight: 900;
  font-size: 1.5em;
  background: linear-gradient(90deg, #00aaff, #00ffc4, #ff00aa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradient-shift 3s linear infinite;
  border-right: 2px solid #00ff6a;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes gradient-shift {
  to {
    background-position: 200% center;
  }
}
.description {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: aliceblue;
  border-radius: 10px;
  font-size: 16px;
  color: #0c0c1b;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  background: cadetblue;
  color: #ffffff;
}

.social-icons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #aaa;
  border-radius: 50%;
  font-size: 18px;
  color: #aaa;
  transition: 0.5s ease;
}

.social-icons a:hover {
  background: cadetblue;
  color: #0c0c1b;
  border-color: #ffffff;
}

/* .image-content {
  max-width: 450px;
  height: 450px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid aliceblue;
  animation: floating 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

.image-content {
  width: 30vw; /* viewport width ke hisaab se size */
  max-width: 450px; /* optional, max size limit */
  aspect-ratio: 1 / 1; /* height width ke equal rahe */
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid aliceblue;
  animation: floating 4s ease-in-out infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-content img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.image-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 15px cadetblue;
}

.image-content:hover img {
  transform: scale(1.03);
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .hero-section {
    padding: 100px 5% 0;
  }

  .image-content {
    width: 40vw;
  }
  .btn {
    padding: 10px 18px;
    font-size: 14px;
}
}

@media (max-width: 992px) {
  .hero-section {
    padding: 120px 3% 0;
  }
  .text-content h1 {
    font-size: 45px;
  }
  .image-content {
    width: 43vw;
  }
}

/* Mobile Screens (Max-width: 768px) */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .image-content {
    width: 95vw;
  }

  .text-content {
    max-width: 100%;
    text-align: center;
  }
  .text-content h1 {
    font-size: 10vw;
  }

  .text-content p:nth-child(2) {
    font-size: 5vw;
  }
  .description {
    font-size: 14px;
  }
  .btn {
    padding: 9px 18px;
    font-size: 14px;
  }
  .social-icons {
    margin: 25px 0px;
    justify-content: center;
    align-items: center;
  }
  /* Hero Section vertical layout */

  /* .text-content,
  .image-content {
    max-width: 100%;
    margin-bottom: 40px;
  } */

  /* Image ko upar shift karna */
  /* .image-content {
    order: -1;
    max-width: 250px;
    margin-bottom: 60px;
  } */

  /* .social-icons {
    justify-content: center; 
  }

  .text-content h1 {
    font-size: 35px;
  }

  .text-content p:nth-child(2) {
    font-size: 20px;
  } */
}
