.port-container {
  background-color: #008080;
  min-height: 100vh;
  padding: 100px 8% 50px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.port-title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.port-title span {
  color: #00ff6a;
}

.port-title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #00ff6a;
  transition: width 0.4s ease-in-out;
}

.port-title:hover::after {
  width: 100%;
}

.port-subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-top: 15px;
}

.port-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.port-card {
  background: #006363;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.port-card:hover {
  transform: translateY(-10px);
  border: 1px solid #00ff6a;
  box-shadow: 0 10px 25px rgba(0, 255, 106, 0.2);
}

.port-img {
  overflow: hidden;
}

.port-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s ease;
}

.port-card:hover .port-img img {
  transform: scale(1.05);
}

.port-content {
  padding: 20px;
  flex-grow: 1;
  color: #ffffff;
}

.port-content h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.port-content p {
  font-size: 0.85rem;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 20px;
}

.read-more {
  width: fit-content;
  padding: 7px 18px;
  background: transparent;
  color: #00ff6a;
  border: 2px solid #00ff6a;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
}

.read-more:hover {
  background: #00ff6a;
  color: #007676;
  box-shadow: 0 0 15px rgba(0, 255, 106, 0.6);
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .port-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
   .port-container {
    padding: 80px 5% 50px;
  }
}

@media (max-width: 992px) {
  .port-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .port-container {
    padding: 80px 3% 50px;
  }
}

@media (max-width: 600px) {
  .port-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .port-title {
    font-size: 2.2rem;
  }
  .section-header {
  margin-bottom: 30px;
}
}
