/* Container styling */
.portfolio-wrapper {
  background-color: #008080; /* Teal background from image */
  min-height: 100vh;
  padding: 100px 8% 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Hero Section Styling */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}

.hero-text {
  flex: 1 1 450px;
}

.name {
  font-size: 50px;
  margin: 0;
  font-weight: 800;
}
.role {
  font-size: 1.8rem;
  margin: 5px 0;
  opacity: 0.9;
}
.tagline {
  font-size: 1.1rem;
  opacity: 0.8;
  margin-bottom: 25px;
}

.work-btn {
  background-color: #e0f2f1;
  color: #008080;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.hero-illustration img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .portfolio-wrapper {
    padding: 100px 5% 0;
  }
}

@media (max-width: 992px) {
  .portfolio-wrapper {
    padding: 100px 3% 0;
  }
  .name {
    font-size: 42px;
    margin: 0;
    font-weight: 800;
  }
  .hero-illustration img {
    max-width: 425px;
  }
  .hero-container {
    align-items: start;
    margin-bottom: 20px;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    align-items: center;
    flex-direction: column-reverse;
  }
  .hero-illustration img {
    max-width: 100%;
  }
  .hero-text {
    flex: none;
    border: 1px solid;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .name {
    font-size: 35px;
  }
}
