@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

@font-face {
  font-family: "MyCustomFontName";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("woff2");
  font-style: normal;
  font-display: swap;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
